.flex-container {
    border: 1px solid black;
    background-color: brown;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap; /* Asegura que las cajas principales no se envuelvan */
    overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
    height: auto; /* Ajusta según tus necesidades */
    gap: 10px; /* Espacio entre las cajas principales */
}

.caja {
    border: 3px solid black;
    background-color: aqua;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 50%; /* Ajusta según el tamaño deseado */
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 10px; /* Ajusta según el diseño deseado */
    box-sizing: border-box; /* Asegura que el padding y border se incluyan en el tamaño total */
}

.sub {
    border: 3px solid black;
    background-color: red;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    margin: 5px;
}

/* Opcional: Ajusta el tamaño de las sub-cajas dentro de cada caja si es necesario */
.caja1, .caja2, .caja3 {
    display: flex;
    flex-direction: column; /* Alinea las sub-cajas verticalmente */
    align-items: center;
}

.caja11, .caja12 {
    margin: 30px;

    width:90%;
    height: 50%;

}
/* .caja21, .caja22, .caja23, .caja24 {
    margin: 30px;

    width:90%;
    height: 50%;

} */






