.flex-container-talleres {
    display: flex;
    flex-wrap: nowrap; /* Mantiene las cajas en una sola línea */
    overflow-x: auto;
    width: 100%;
    gap: 20px;
    align-items: center;
}

.caja-talleres1, .caja-talleres2 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.caja-talleres1 {
    align-items: flex-end;
}

.caja-talleres2 {
    align-items: flex-start;
}

.subcaja1-talleres, .subcaja3-talleres {
    margin-top: 5%;
    width: 350px;
    height: 400px;
    position: relative;
    overflow: hidden; /* Asegura que la imagen no sobresalga del contenedor */
}

.subcaja1-talleres img, .subcaja3-talleres img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen se ajuste bien al contenedor */
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.subcaja1-talleres:hover img, .subcaja3-talleres:hover img {
    transform: scale(1.1); /* Efecto de aumento al hacer hover */
    opacity: 0.8;
    z-index: 1; /* Eleva la imagen por encima de otros elementos */
}

.subcaja2-talleres, .subcaja4-talleres {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    padding: 3px;
    background-color: rgb(33, 135, 111);
    width: 350px;
    height: 40px;
}

.subcaja2-talleres h1, .subcaja4-talleres h1 {
    font-family: 'Captain America';
    font-size: 1.5em;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Añade puntos suspensivos si el texto se desborda */
    margin: 0;
}

