* {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body {
    background-color: rgb(237, 244, 237);
    padding-top: 70px;
}

.navbar-logo {
    height: 100px; /* Ajusta la altura del logo según tus necesidades */
    width: auto; /* Mantiene la proporción original del logo */
    max-height: 100%; /* Asegura que el logo no se desborde fuera del contenedor */
    
}
.BarraNavegacion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Asegura que el navbar ocupe todo el ancho de la pantalla */
    z-index: 1050; /* Asegura que el navbar esté por encima de otros elementos */
}



.principal {
    margin-top: 100px;
    position: relative;
    overflow: hidden;
    height: 70vh;
    margin: 0;
    padding: 0;
    color: #0d7c3d; 
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Esto evita que el video interfiera con el texto */
    z-index: -1; /* Coloca el video detrás del texto */
}

.principal {
    position: relative; /* Necesario para posicionar el logo de manera absoluta */
}

.logo-container {
    position: absolute;
    height: 100px;
    top: 40px; /* Ajusta el espacio desde la parte superior según sea necesario */
    right: 20px; /* Ajusta el espacio desde el borde derecho según sea necesario */
    z-index: 10; /* Asegura que el logo esté sobre otros elementos */
}

.logo-image {
    height: 80px; /* Ajusta la altura del logo según tus necesidades */
    width: auto; /* Mantiene la proporción original del logo */
}

.principal iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.direccion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espacio entre los elementos */
    margin-top: 50px; /* Ajusta el margen superior según sea necesario */
}

.direccion a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #7fc89f; /* Mantiene el color del texto del h2 */
}

.direccion h2 {
    margin: 0; /* Elimina los márgenes predeterminados de h2 */
}

.card {
    position: relative;
    overflow: hidden; /* Oculta cualquier contenido que sobresalga del contenedor */
    border: none; /* Elimina el borde de la card */
    width: 80%; /* Reduce el tamaño de la card al 80% */
    margin: 0 auto; /* Centra la card en su contenedor */
}

.card-link {
    display: block;
    position: relative;
}

.card-img-top {
    width: 100%; /* Hace que la imagen ocupe el 100% del ancho de la card */
    height: auto; /* Mantiene la proporción original de la imagen */
    display: block; /* Asegura que la imagen se muestre como un bloque */
}

.card-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding: 20px;
    text-align: center;
}

.card-link:hover .card-info {
    opacity: 1; /* Muestra la información al pasar el ratón */
}



.card-info .btn {
    margin-top: 10px;
}
/* estilo de las paginas secundarias*/

.titulo-imagen-container {
    display: flex;
    align-items: flex-start;
    gap: 20px; /* Espacio entre la imagen principal, el título y la imagen terciaria */
    margin-top: 20px; /* Ajusta el margen superior */
}

.titulo {
    flex: 1;
    color: #7fc89f; /* Mantiene el color del texto */
}

.imagenPrincipal,
.imagenTerciaria {
    flex: 1;
    max-width: 300px; /* Ajusta el tamaño máximo de las imágenes */
}

.imagenSecundaria {
    margin-top: 20px;
    display: block;
    max-width: 100%;
    margin-bottom: 20px; /* Espacio adicional debajo de la imagen secundaria */
}

.descripcion {
    margin-top: 20px;
    color: #7fc89f; /* Mantiene el color del texto */
}

