@font-face {
    font-family: 'Captain America';
    src: url('../font/american_captain/American-Captain.ttf') format('truetype'); /* Ajusta el formato si usas otro tipo de archivo */
    font-weight: normal;
    font-style: normal;
  }


.flex-container {
   
    
    padding: 20px;
    display: flex;
    flex-wrap: nowrap; /* Asegura que las cajas principales no se envuelvan */
    overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
    height: auto; /* Ajusta según tus necesidades */
    gap: 10px; /* Espacio entre las cajas principales */
}

.caja {
   
    width: 50%; /* Ajusta según el tamaño deseado */
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 10px; /* Ajusta según el diseño deseado */
    box-sizing: border-box; /* Asegura que el padding y border se incluyan en el tamaño total */
}
.caja1{
    display: flex;
    flex-direction: column; /* Alinea las sub-cajas verticalmente */
    align-items: center;
    width: 30%;
    flex-grow: 1;


}

.caja2{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Crea 2 columnas de igual tamaño */
    gap: 10px; /* Espacio entre las subcajas */
    flex-grow: 5;
}

.sub {
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    margin: 5px;
}

.caja11 {
    margin-top: 20px;
    width: 90%;
    height: auto;

}
.caja12 {
    margin-top: 200px;
    width: 90%;
    height: auto;
}
 .caja21 {
    
    grid-column: 1; /* Asigna esta subcaja a la primera columna */
    margin-top: 20px;
    width: 100%; /* Ajusta el ancho al 100% de la columna */
    height: auto;

}

.caja22{
    margin-top: 20px;
    margin-left: 15%;
    width: 70%; /* Ajusta el ancho al 100% de la columna */
    height: auto;

}
.caja23 {
    grid-column: 1 / span 2; /* Esta subcaja ocupará ambas columnas */
    width: 100%;
    height: auto;
    margin-top: 20px;
}

#imgPrincipal{
    margin: 5px;
    width: 90%;
    height: auto;
}

#imgSecundaria{
    margin: 5px;
    padding: 10%;
    width: 100%;
    height: auto;

}
.sinopsis, .titulo, .texto {
    text-transform: none;
}


 .titulo{
    
    font-family: 'Captain America';
    color: rgb(33, 135, 111);
    font-size: 3.5rem; /* El título principal, más grande */
    text-align: left;   /* Alineado a la izquierda */
    line-height: 1;   /* Espacio entre líneas */
    margin-bottom: 5px; /* Espacio inferior para separar el título del subtítulo */
}

.subtitulo {
    
    font-family: 'Captain America';
    color: rgb(33, 135, 111);
    font-size: 2.3rem;  /* Tamaño para el subtítulo "SINOPSIS" */
    text-align: left;   /* Alinea el subtítulo a la izquierda */
    line-height: 1.5;   /* Espacio entre líneas */
    margin-bottom: 5px; /* Espacio inferior para separar del texto */
}

.texto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem; /* Tamaño más pequeño para el texto */
    text-align: left;   /* Alinea el texto a la izquierda */
    line-height: 1.6;   /* Espacio entre líneas */
    color: rgb(92, 91, 91);
    
    
}  
.texto strong {
    
    color: black;
    font-weight: bold; /* Negrita para el texto después de los dos puntos */
    
}
.caja24 {
    grid-column: 1 / span 2; /* Esta subcaja ocupará ambas columnas */
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Tres columnas de igual tamaño */
    gap: 20px; /* Espacio entre columnas */
}

.subtitulo2 {
    grid-column: 1 / span 2; /* El subtítulo ocupará las dos columnas */
    font-family: 'Captain America';
    color: rgb(33, 135, 111);
    font-size: 2.5rem;  /* Tamaño para el subtítulo "SINOPSIS" */
    text-align: left;   /* Alinea el subtítulo a la izquierda */
    line-height: 1.5;   /* Espacio entre líneas */
    margin-bottom: 5px; /* Espacio inferior para separar del texto */
    
}

#col1 {
    grid-column: 1; /* Ubica este texto en la primera columna */
}

#col2 {
    grid-column: 2; /* Ubica este texto en la segunda columna */
}

#col3 {
    grid-column: 3; /* Ubica este texto en la tercera columna */
}

.flex-container-trailer{

   
    padding: 20px;
    display: flex;
    flex-wrap: nowrap; /* Asegura que las cajas principales no se envuelvan */
    overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
    width: 100%;
    height: auto; /* Ajusta según tus necesidades */
    gap: 10px; /* Espacio entre las cajas principales */
    flex-direction: column;
    align-items: center;

}

.caja1-trailer{
    margin-top: 40px;
    width: 100%;
    height: auto;
}
.caja2-trailer{
    margin-top: 20px;
    width: 20%;
    height: auto;
}

.caja2-trailer img{
    width: 100%;
    height: auto;
}
.caja1-trailer-vacio{
    background-color: #31836c;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5; 
}

.caja1-trailer-vacio h3{
    margin-top: 200px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;

}
.caja1-trailer-vacio h2{
    color: white;
    font-family: 'Captain America'; 
    font-size: 1.7rem;

}

.flex-container-prensa{
    /* padding: 20px; */
    display: flex;
    flex-wrap: nowrap; /* Asegura que las cajas principales no se envuelvan */
    overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
    width: 100%;
    height: auto; /* Ajusta según tus necesidades */
    gap: 10px; /* Espacio entre las cajas principales */
    flex-direction: column;
    align-items: center;

}
.prensa{
    margin-top: 50px;
    margin-right: 18%;
    font-family: 'Captain America';
    color: rgb(33, 135, 111);
}

.caja1-prensa {
    width: 100%;
    height: 420px;
    padding-right: 5%;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    align-items: center; /* Asegura que las subcajas no muevan el contenedor */
}
.caja2-prensa {
    padding: 10px;
    margin-top: 100px;
    width: 40%;
    height: auto;
    position: relative; /* Esto asegura que no se vea afectada */
}
.subcaja-prensa {
    margin-top: 50px;
    padding: 5px;
    overflow: hidden;
    width: 150px;
    height: 150px;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    flex-shrink: 0; /* Evita que las subcajas se reduzcan o alteren el flujo */
}
.caja1-prensa img{
    width: 100%;
    height: auto;
}
.caja2-prensa img{
    width: 100%;
    height: auto;
}

.subcaja-prensa:hover {
    width: 350px;
    height: 350px;
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}
.subcaja-prensa:hover img{
    width: 100%;
    height: auto;
   
}
.flex-container-equipo{
    padding: 20px; 
    display: flex;
    flex-wrap: nowrap; /* Asegura que las cajas principales no se envuelvan */
    overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
    width: 100%;
    height: auto; /* Ajusta según tus necesidades */
    gap: 10px; /* Espacio entre las cajas principales */
    flex-direction: column;
    align-items: center;

}

.caja-equipo{
    width: 90%;
    height: auto;
    gap: 10px;
    display: flex;
    flex-direction: row;
}

.subcaja1-equipo{
    margin: 1%;
    padding: 0%;
    width: 20%;
    height: auto;
           
}
.subcaja2-equipo{
    margin: 1%;
    width: 80%;
    height: auto;
           
}
.subcaja1-equipo img{
    width: 100%;
    height: auto;
}


.encabezado{
   
    display: flex;
    width: 100%;
    height: 200px; /* Ajusta según tus necesidades */
    flex-direction: column;
    align-items: center;
}

.caja-encabezado{
    
    width: 12%;
    height: auto;
}
.caja-encabezado img{
    width: 100%;
    height: auto;
}
.flex-container-slaider {

    overflow: hidden; /* Oculta cualquier desbordamiento, evitando la barra de desplazamiento */
}

.flex-container-slaider .inner-slider {
    display: flex;
    animation: moveSlider 20s linear infinite;
    width: calc(150px * 28); /* Ajustar al tamaño correcto de las imágenes */
    height: 300px;
}

.caja-slaider {
    margin-top: 40px;
    padding: 5px;
    width: 150px;
    height: 200px;
    transition: transform 0.3s, margin 0.3s; /* Añadimos transición en el margen */
    flex-shrink: 0;
    z-index: 1; /* Nivel base para las imágenes no hover */
}

.caja-slaider img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    transition: filter 0.3s;
}

.caja-slaider:hover {
    transform: scale(1.5); /* Agranda más la imagen */
    margin-left: 15px; /* Añade espacio a la izquierda */
    margin-right: 15px; /* Añade espacio a la derecha */
    z-index: 2; /* Pone la imagen en hover por encima del resto */
}
.caja-slaider:hover img {
    filter: grayscale(0%);
}

.flex-container-slaider:hover .inner-slider {
    animation-play-state: paused;
}

@keyframes moveSlider {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.descripcion {
    text-align: center; /* Centra el contenido horizontalmente */
    margin: 0 auto; /* Centra el contenedor si tiene un ancho definido */
    width: 80%; /* Ajusta el ancho del contenedor para que no ocupe todo el ancho */
}

.descripcion h1 {
    font-family: 'Bernett';
    color: rgb(33, 135, 111);
    font-size: 3.5rem; /* Tamaño del h1 */
    margin-bottom: 20px; /* Espacio entre el h1 y el párrafo */
    line-height: 1.3; /* Ajusta el interlineado del h1 */
}

.descripcion p {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 18px; /* Tamaño del párrafo */
    line-height: 1.8; /* Interlineado del párrafo */
    max-width: 800px; /* Ancho máximo para el texto */
    margin: 0 auto; /* Centra el párrafo */
}



.flex-container-contacto {
    display: flex;
    flex-direction: column;
    gap: 30px; /* Aumenta la separación entre los campos */
    padding: 40px; /* Aumenta el padding general */
    align-items: center; /* Botón al lado opuesto (izquierda) */
}

.flex-container-contacto div {
    width: 100%;
    position: relative;
}

input[type="text"],
input[type="mail"],
textarea {
    width: 100%;
    padding: 15px; /* Aumenta el padding dentro de los inputs */
    border: 2px solid #4f836f; 
    border-radius: 5px;
    background: linear-gradient(to right, white 50%, white 50%);
    color: #4f836f;
    font-size: 16px;
    outline: none;
    margin-bottom: 20px; /* Más espacio entre los inputs */
}

input::placeholder,
textarea::placeholder {
    color: #4f836f; /* Placeholder blanco */
    opacity: 1; /* Asegura que el placeholder sea visible */
}

textarea {
    background: linear-gradient(to bottom, white 50%, white 50%);
    position: relative;
}

textarea::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 2px solid #4f836f; /* Verde Agua */
    border-radius: 10px;
    z-index: -1;
}

button[type="submit"] {
    background-color: #4f836f; /* Verde Agua */
    color: white;
    padding: 15px 30px; /* Aumenta el tamaño del botón */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-start; /* Botón alineado al lado opuesto (izquierda) */
    margin-top: 20px; /* Aumenta la separación del botón */
}

button[type="submit"]:hover {
    background-color: #4f836f;
}

.flex-container-talleres{
    
    display: flex;
    flex-wrap: nowrap; /* Asegura que las cajas principales no se envuelvan */
    overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
    width: 100%;
    height: auto; /* Ajusta según tus necesidades */
    gap: 20px; /* Espacio entre las cajas principales */
    flex-direction: row;
    align-items: center;

}

.caja-talleres1, .caja-talleres2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
}

.caja-talleres1 {
    align-items: flex-end; /* Alinea los elementos hacia el margen derecho */
}

.caja-talleres2 {
    align-items: flex-start; /* Alinea los elementos hacia el margen izquierdo */
}

/* Ajustes en las subcajas para que se mantengan dentro de los márgenes deseados */
.subcaja1-talleres, .subcaja3-talleres {
    margin-top: 5%;
    width: 350px;
    height: 400px; /* O el tamaño necesario */
    
    
}

.subcaja2-talleres, .subcaja4-talleres {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    padding: 3px;
    background-color:rgb(33, 135, 111);
    width: 350px;
    height: 40px; /* Ajuste para las subcajas más pequeñas */
}

/* Asegúrate que las imágenes ocupen todo el espacio de las subcajas */
.subcaja1-talleres img, .subcaja3-talleres img {
    width: 100%;
    height: 100%;
}
 
.subcaja2-talleres h1, .subcaja4-talleres h1 {
    font-family: 'Captain America';
    font-size: 1.5em; /* Ajusta el tamaño del texto */
    width: 80%; /* El texto ocupa el 70% de la subcaja */
    white-space: nowrap; /* Evita que el texto se desborde y se vaya de los márgenes */
    overflow: hidden; /* Esconde cualquier parte del texto que exceda el área visible */
    margin: 0; /* Elimina márgenes adicionales */
    color: white; /* Color del texto, puedes ajustarlo si es necesario */
}

