@font-face {
    font-family: 'Captain America';
    src: url('../font/american_captain/American-Captain.ttf') format('truetype'); /* Ajusta el formato si usas otro tipo de archivo */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Bernett';
    src: url('../font/barnett/Barnett.otf') format('truetype'); /* Ajusta el formato si usas otro tipo de archivo */
    font-weight: normal;
    font-style: normal;
  }



body {
    font-family: 'Captain America';
    font-weight: 400;
    font-style: normal;
    background-color: white;
    padding-top: 70px;
}

.principal {
    position: relative;
    overflow: hidden;
    height: 70vh;
    margin: 0;
    padding: 0;
    color: white; 
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Esto evita que el video interfiera con el texto */
    z-index: -1; /* Coloca el video detrás del texto */
}

.principal {
    position: relative; /* Necesario para posicionar el logo de manera absoluta */
}

.logo-container {
    position: absolute;
    width: 40%;
    height: auto;
    top: 10%; /* Ajusta el espacio desde la parte superior según sea necesario */
    margin-left: 90%; /* Ajusta el espacio desde el borde derecho según sea necesario */
    z-index: 10; /* Asegura que el logo esté sobre otros elementos */
}

.logo-image {
    width: 120px; /* Ajusta la altura del logo según tus necesidades */
    height: auto;/* Mantiene la proporción original del logo */
}

.principal iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-label {
    position: absolute;
    bottom: 40px; /* Ajusta la distancia desde la parte inferior */
    left: 60px; /* Ajusta la distancia desde el borde izquierdo */
    color: white; /* Color del texto */
    z-index: 10; /* Asegura que el texto esté sobre el video */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Agrega una sombra para mejorar la visibilidad */
}

.section-label h1{
    font-family: 'Captain America';
    font-size: 7rem; /* Tamaño del texto, puedes ajustarlo */
    line-height: 1;

}
.section-label h2{
    font-family: 'Bernett';
    font-size: 7rem; /* Tamaño del texto, puedes ajustarlo */

}
.section-label h3{
    font-family: 'Captain America';
    font-size: 5rem; /* Tamaño del texto, puedes ajustarlo */

}
.imagen-principal img{
    width: 100%;
    height: auto;
}


.direccion {
    width: 100%;
    font-family: 'Captain America';
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%; /* Espacio entre los elementos */
    margin-top: 50px; /* Ajusta el margen superior según sea necesario */
}

.direccion a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #C4DAD2; /* Color de los enlaces no activos */
    font-size: larger;
}

.direccion a.active {
    color: rgb(33, 135, 111); /* Verde oscuro para el enlace activo */
}

.direccion h2 {
    margin: 0; /* Elimina los márgenes predeterminados de h2 */
}

/* Efecto de hover para las tarjetas */
.card {
    transition: transform 0.3s ease, opacity 0.3s ease;
    overflow: hidden; /* Asegura que el contenido no se desborde */
   /* border: 1px solid black; /* Agrega un borde negro de 1px */
    border-radius: 5px; /* Agrega bordes redondeados, opcional */
    width: 100%; /* Hace que la tarjeta ocupe el 100% del ancho de su contenedor */
    max-width: 300px; /* Ajusta el ancho máximo de la tarjeta */
    margin: 0 auto; /* Centra la tarjeta en su contenedor */
}

/* Efecto de hover para agrandar y opacar la tarjeta */
.card:hover {
    transform: scale(1.05); /* Agranda la tarjeta */
    opacity: 0.8; /* Hace que la tarjeta sea un poco opaca */
}

/* Efecto de hover para mostrar el título y la información */
.card-link {
    position: relative;
    display: block;
    height: 100%; /* Asegura que el enlace ocupe toda la tarjeta */
}

.card-info {
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    bottom: 0; /* Alinea la información al fondo de la tarjeta */
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

/* Muestra la información al pasar el ratón */
.card-link:hover .card-info {
    opacity: 1; /* Muestra la información al pasar el ratón */
}

.card-info h5 {
    margin: 0;
    font-size: 1.25rem; /* Ajusta el tamaño del título según sea necesario */
}

/* Ajustes adicionales para la imagen de la tarjeta */
.card-img-top {
    width: 100%; /* Hace que la imagen ocupe el 100% del ancho de la tarjeta */
    height: auto; /* Mantiene la proporción original de la imagen */
    display: block; /* Asegura que la imagen se muestre como un bloque */
}
/* Reducir el espacio entre las cards */
.row {
    margin-left: -5px;
    margin-right: -5px;
}

.col-md-4 {
    padding-left: 10px;
    padding-right: 10px;
}

/* Centrar la última card */
.row:last-child {
    justify-content: center;
}

.flex-container-footer{
    padding: 20px;
    display: flex;
    flex-direction: column; /* Alinea las sub-cajas verticalmente */
    align-items: center;
    flex-wrap: nowrap; /* Asegura que las cajas principales no se envuelvan */
    overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
    height: auto; /* Ajusta según tus necesidades */
    gap: 10px; /* Espacio entre las cajas principales */
}
.caja1-footer, .caja2-footer{
   
    width: 50%; /* Ajusta según el tamaño deseado */
    height: auto;
    display: flex;
    
    position: relative;
    padding: 10px; /* Ajusta según el diseño deseado */
    box-sizing: border-box; /* Asegura que el padding y border se incluyan en el tamaño total */
}
.caja3-footer{
    width: 100%;
    height: auto;
}
.caja1-footer{
    width: 15%;
    height: auto;
}
.caja1-footer img{
    margin-left: 5%;
    width: 90%;
    height: auto;
}
.caja2-footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    font-family: 'Captain America';
    color:gray;
    font-size: 1.2rem;
}








