* {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body {
    background-color: white;
    padding-top: 70px;
}

.navbar-logo {
    height: 100px; /* Ajusta la altura del logo según tus necesidades */
    width: auto; /* Mantiene la proporción original del logo */
    max-height: 100%; /* Asegura que el logo no se desborde fuera del contenedor */
    
}
.BarraNavegacion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Asegura que el navbar ocupe todo el ancho de la pantalla */
    z-index: 1050; /* Asegura que el navbar esté por encima de otros elementos */
}



.principal {
    margin-top: 100px;
    position: relative;
    overflow: hidden;
    height: 70vh;
    margin: 0;
    padding: 0;
    color: white; 
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Esto evita que el video interfiera con el texto */
    z-index: -1; /* Coloca el video detrás del texto */
}

.principal {
    position: relative; /* Necesario para posicionar el logo de manera absoluta */
}

.logo-container {
    position: absolute;
    height: 100px;
    top: 40px; /* Ajusta el espacio desde la parte superior según sea necesario */
    right: 20px; /* Ajusta el espacio desde el borde derecho según sea necesario */
    z-index: 10; /* Asegura que el logo esté sobre otros elementos */
}

.logo-image {
    height: 80px; /* Ajusta la altura del logo según tus necesidades */
    width: auto; /* Mantiene la proporción original del logo */
}

.principal iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.direccion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espacio entre los elementos */
    margin-top: 50px; /* Ajusta el margen superior según sea necesario */
}

.direccion a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #C4DAD2; /* Color de los enlaces no activos */
    font-size: larger;
}

.direccion a.active {
    color: #006400; /* Verde oscuro para el enlace activo */
}

.direccion h2 {
    margin: 0; /* Elimina los márgenes predeterminados de h2 */
}

/* Efecto de hover para las tarjetas */
.card {
    transition: transform 0.3s ease, opacity 0.3s ease;
    overflow: hidden; /* Asegura que el contenido no se desborde */
    border: 1px solid black; /* Agrega un borde negro de 1px */
    border-radius: 5px; /* Agrega bordes redondeados, opcional */
    width: 100%; /* Hace que la tarjeta ocupe el 100% del ancho de su contenedor */
    max-width: 300px; /* Ajusta el ancho máximo de la tarjeta */
    margin: 0 auto; /* Centra la tarjeta en su contenedor */
}

/* Efecto de hover para agrandar y opacar la tarjeta */
.card:hover {
    transform: scale(1.05); /* Agranda la tarjeta */
    opacity: 0.8; /* Hace que la tarjeta sea un poco opaca */
}

/* Efecto de hover para mostrar el título y la información */
.card-link {
    position: relative;
    display: block;
    height: 100%; /* Asegura que el enlace ocupe toda la tarjeta */
}

.card-info {
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    bottom: 0; /* Alinea la información al fondo de la tarjeta */
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

/* Muestra la información al pasar el ratón */
.card-link:hover .card-info {
    opacity: 1; /* Muestra la información al pasar el ratón */
}

.card-info h5 {
    margin: 0;
    font-size: 1.25rem; /* Ajusta el tamaño del título según sea necesario */
}

/* Ajustes adicionales para la imagen de la tarjeta */
.card-img-top {
    width: 100%; /* Hace que la imagen ocupe el 100% del ancho de la tarjeta */
    height: auto; /* Mantiene la proporción original de la imagen */
    display: block; /* Asegura que la imagen se muestre como un bloque */
}





